<!-- header -->
<div id="account_header" class="row-fluid">
    <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ui-sref-active="active" ng-show="showMenu"><a href="/myaccount">My Account</a></li>
                <li ui-sref-active="active" ng-show="showMenu"><a href="javascript:void(0)" ng-click="menuLogoutClick()">Logout</a></li>
            </ul>
        </div>
        
    </div>
    </div>
</div>


<div class="row-fluid">
    <nav>    
        <div class="col-lg-5 col-md-6 col-sm-12">
            <a class="navbar-logo" href="/"><img src="/imgs/dgs_logo.png"></a>
        </div>
        <div class="nav-top col-lg-7 col-md-6 col-sm-12">
            <div class="navbar-header search-header">
                <search-form></search-form>
            </div>
        </div>
        <div class="col-md-12 nav-bottom">
            <div class="col-md-offset-3">
                <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
                <ul class="nav navbar-left">
                    <li><a href="/">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="browse">Browse Items</a></li>
                    <li ui-sref-active="active" ng-show="!showMenu"><a ui-sref="login">Login</a></li>
                    <li ui-sref-active="active" ng-show="!showMenu"><a ui-sref="register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>