<!-- header -->
<div id="account_header" class="row">
    <div class="account_wrapper">
        <div><i class="fa fa-map-marker" aria-hidden="true"></i> contact us</div>
        <div><i class="fa fa-info-circle" aria-hidden="true"></i> about us</div>
        <div><i class="fa fa-question-circle" aria-hidden="true"></i> help</div>
    </div>
    <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dropdown pull-left" ng-show="showAccountMenu">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ui-sref-active="active"><a ui-sref="myaccount.profile">Profile</a></li>
                <li ui-sref-active="active"><a ui-sref="myaccount.items">Current Items</a></li>
                <li ui-sref-active="active"><a ui-sref="myaccount.watchlist">Watchlist</a></li>
                <li ui-sref-active="active"><a href="javascript:void(0)" ng-click="menuLogoutClick()">Logout</a></li>
            </ul>
        </div>
        
        <div ng-if="isAdmin" class="dropdown pull-left admin-menu" ng-show="showAccountMenu">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ui-sref-active="active"><a ui-sref="admin_users">Users</a></li>
                <li ui-sref-active="active"><a ui-sref="admin_cats">Categories</a></li>
            </ul>
        </div>


        
    </div>
    </div>
</div>

<div>
    <div class="header">
        <div class="col-lg-3 col-md-3 col-sm-12 logo">
            <a class="navbar-logo" href="/"><img src="/imgs/dgs_logo_sm.png"></a>
        </div>
        <div class="nav-top col-lg-8 col-md-8 col-sm-12">
            <!--<div class="navbar-header search-header">
                <search-form></search-form>
            </div>-->
            <nav>    
                <div class="col-md-12 nav-bottom">
                    <div class="header">
                        <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
                        <ul class="nav navbar-left">
                            <li><a ui-sref-active="active" ui-sref="home">Home</a></li>
                            <li><a ng-class="{'active' : $state.current.nav == 'browse'}" ui-sref="browse">Browse Items</a></li>
                        </ul>
                        <ul ng-show="!showAccountMenu" class="nav navbar-left">
                            <li><a ng-class="{'active' : $state.current.nav == 'login'}" ui-sref="login">Login</a></li>
                            <li><a ng-class="{'active' : $state.current.nav == 'register'}" ui-sref="register">SIGN UP TODAY!</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
