// Set some defaults
$default_radius: 5px;
$blue: #1979CA;
$lightblue: #D4DDF3;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($default_radius){
	border-radius: $default_radius;
}