// Global Variables
@import "mixins";

html, body {
	width:100%;
	height: 100%;
}

.nav-bottom {
	@extend %clearfix;
}

nav.navbar-blue {
	/*background-image: linear-gradient(rgb(91, 139, 236), rgb(68, 105, 177));
	height:110px;*/
	@extend %clearfix;

	.search {
		line-height: 103px;

		@media (min-width: 768px) {
			input {
				width:300px;
			}
		}
	}
}

.navbar-nav>li>a {
	//padding-top: 15px;
	//padding-bottom: 15px;
}
ul.navbar-nav {
	//border-top:1px solid #ccc;
	//border-bottom:1px solid #ccc;
	width:100%;

	@extend %clearfix;
}

#main {
	margin-top:25px;

}

// content
.main-content {
	border: 1px solid $lightblue;
	@include border-radius(5px);
	@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

	.cat-header {
		margin:10px 0;
		font-size:18px;
	}

	// Items 
	.item {
		font-size:16px;
		margin:0 1px;
		padding: 10px 0;
		border-bottom:1px solid #cccccc;
		.item-image {
			max-height: 225px;
			max-width: 225px;
		}
		.item-name {
			font-size:26px;
			color: $blue;
		}

		.item-price {

		}
	}
}

// Side bar
aside {
	.widget {
		h1 {
			font-size:14px;
		}
		ul{
			list-style-type: none;
			padding:0;

			li {
				margin-left:5px;
				list-style: none;
			}
		}
		.sort {
			li {
				color: $blue;
			}
		}
	}
}

#item {
	.item-image {
		max-width: 500px;
		img {
			max-width: 100%;
		}
	}

	.itemdtl {
		h2 {
			font-size:14px;
			border-bottom:1px solid grey;
		}
	}
}

/***************** SELLER *************/
.sellerData {
	margin-top:30px;
	border: 1px solid grey;
	@include border-radius(5px);
	h2 {
		margin-top:10px;
		font-size:14px;
	}
}


@media (min-width: 768px) {
	.nav-top {
		height:95px;
	}

	.nav-bottom {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		ul {
			margin-top:0;
			margin-bottom:0;

			li {
				float:left;
				list-style:none;

				a {
					display:block;
					padding:10px;
				}
			}
		}
	}
}