// Global Variables
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, body {
	width:100%;
	height: 100%;
}

.nav-bottom {
	@extend %clearfix;
}

nav.navbar-blue {
	/*background-image: linear-gradient(rgb(91, 139, 236), rgb(68, 105, 177));
	height:110px;*/
	@extend %clearfix;

	.search {
		line-height: 103px;

		@media (min-width: 768px) {
			input {
				width:300px;
			}
		}
	}
}

.navbar-nav>li>a {
	//padding-top: 15px;
	//padding-bottom: 15px;
}
ul.navbar-nav {
	//border-top:1px solid #ccc;
	//border-bottom:1px solid #ccc;
	width:100%;

	@extend %clearfix;
}

#main {
	margin-top:25px;
}


@media (min-width: 768px) {
	.nav-top {
		height:95px;
	}

	.nav-bottom {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		ul {
			margin-top:0;
			margin-bottom:0;

			li {
				float:left;
				list-style:none;

				a {
					display:block;
					padding:10px;
				}
			}
		}
	}
}