<form name="search" class="navbar-form navbar-left" ng-submit="searching()" role="search">
    <div class="form-group">
    	<label> Search </label>
      <input type="text" class="keyword form-control" ng-model="keyword">
    </div>
    <div class="form-group">
        <select class="form-control category" ng-model="category" ng-options="cat.shortName as cat.name for cat in activeCatList">
            <option value="">-- choose category --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>